# macOS
.DS_Store
.idea

# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.moved-aside
*.xcscmblueprint
.idea/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods / Carthage
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# App archives and signing
*.ipa
*.dSYM.zip
*.dSYM
*.mobileprovision
Config/Signing.local.xcconfig

# Logs
*.log

# Local brainstorming companion sessions
.superpowers/
.gitnexus
